{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
    <div class="col-md-6">
        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="col-md-6">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="col-md-6">
        {{ form_label(form.picture, 'Upload Picture', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.picture) }}
    </div>

    <div class="col-md-6">
        {{ form_label(form.video, 'Upload Video', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.video) }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
